<button (click)="opened=!opened">
  <fa-icon [icon]="faBars" size="lg"></fa-icon>
</button>
<mgl-map [style]="'mapbox://styles/mapbox/dark-v10'" [zoom]="[13]" [center]="[2.954818,36.7665832]">
  <div *ngFor="let place of places">
    <mgl-marker #marker [lngLat]="[place.venue.location.lng, place.venue.location.lat]"> </mgl-marker>
    <mgl-popup [marker]="marker">
      <h4 style="text-align: center">{{ place.venue.name }}</h4>
      <h5 style="text-align: center">{{ place.venue.categories[0].name}}</h5>
    </mgl-popup>
  </div>
</mgl-map>
<aside>
  <ul>
    <li *ngFor="let place of places">{{ place.venue.name }}</li>
  </ul>
</aside>
